// Variables
$d: 1200px;
$tp: 720px;
$tl: 1199px;
$m: 719px;

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito|Open+Sans|Raleway|Roboto|Ubuntu&display=swap");

// Google Material Icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Font Variables
$MaterialIcons: "Material Icons" !default;
$Nunito: "Nunito", sans-serif !default;
$OpenSans: "Open Sans", sans-serif !default;
$Raleway: "Raleway", sans-serif !default;
$Roboto: "Roboto", sans-serif !default;
$Ubuntu: "Ubuntu", sans-serif !default;

body {
	font-family: $Raleway;

	.container {
		height: auto;
		margin: 0 auto;
		max-width: 1200px;
		padding: 1rem;
		width: 100%;

		&-full {
			max-width: 100%;
		}
	}

	.row {
		align-content: flex-start;
		align-items: flex-start;
		display: flex;
		flex-basis: auto;
		flex-direction: row;
		flex-grow: 1;
		flex-wrap: nowrap;
		justify-content: flex-start;
		justify-items: flex-start;
		width: 100%;
	}

	.column {
		width: 100%;

		&-1 {
			width: (100% / 10);
		}

		&-2 {
			width: (100% / 9);
		}

		&-3 {
			width: (100% / 8);
		}

		&-4 {
			width: (100% / 7);
		}

		&-5 {
			width: (100% / 6);
		}

		&-6 {
			width: (100% / 5);
		}

		&-7 {
			width: (100% / 4);
		}

		&-8 {
			width: (100% / 3);
		}

		&-9 {
			width: (100% / 2);
		}

		&-10 {
			width: (100% / 1);
		}
	}

	.material-icons {
		direction: ltr;
		display: inline-block;
		font-family: $MaterialIcons;

		/* Support for IE. */
		font-feature-settings: "liga";
		
		font-size: 24px; /* Preferred icon size */

		/* Support for all WebKit browsers. */
		-webkit-font-smoothing: antialiased;

		/* Support for Firefox. */
		-moz-osx-font-smoothing: grayscale;
		
		font-style: normal;
		font-weight: normal;
		letter-spacing: normal;
		line-height: 1;

		/* Support for Safari and Chrome. */
		text-rendering: optimizeLegibility;
		
		text-transform: none;
		white-space: nowrap;
		word-wrap: normal;
	}

	::before,
	::after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		height: auto;
		width: auto;
	}
}
