.banner {
	display: flex;
	flex-flow: row nowrap;
	margin: 0;
	padding: 0;
	width: 100%;

	&-container {
		width: 100%;
	}

	&-list {
		display: flex;
		margin: 0;
		padding: 0;
		
		&-item {
			display: flex;
			flex-flow: row wrap;
			width: 100%;			
		}

		&-link {
			display: flex;
		}

		&-image {
			width: 100%;
		}
	}

	&#banner-bottom {
		.banner-list {
			&-item {
				padding: 1rem;
			}
		}
	}

	&#banner-category {
		.banner-list {
			flex-flow: row nowrap;

			&-item {
				padding: 1rem;
			}
		}
	}
}
