body {
    .main {
        width: 100%;
        
        section {
            padding: 1rem;
    
            .section-title {
                align-items: center;
                display: flex;
                flex-flow: row nowrap;
                font-size: 1.5rem;
                justify-content: center;

                &::after,
                &::before {
                    content: "";
                }
            }
        }
    }
}