.breadcrumbs {
	height: auto;
	margin: 0;
	position: relative;

	&-container {
		align-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		height: 100%;
		justify-content: flex-start;
		margin: 0 auto;
		position: relative;
	}

	&-item {
		list-style: none;
		margin: 0 10px 0 0;

		&::after {
			content: ">";
			margin: 0 10px;
		}

		&:last-of-type {
			font-weight: bold;
			margin: 0;

			&::after {
				content: none;
			}
		}
	}
}
