.instagram {
	&-list:not(.glide__slides) {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		margin: 0;
		padding: 0;
	}

	&-list-item:not(.glide__slide) {
		border-radius: 10px;
		display: flex;
		flex-basis: 160px;
		flex-grow: 0;
		margin: 0;
		padding: 5px;
	}

	&-list-image {
		border-radius: 10px;
		display: block;
		filter: grayscale(100%);
		margin: 0 auto;
		overflow: hidden;

		&:hover {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
			filter: grayscale(0);
		}
	}
}
