.list {
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display: flex;
	flex: 1;
	flex-flow: column nowrap;
	margin: 0;
	padding: 1em;

	li {
		line-height: 1.5rem;
		list-style: none;

		a {
			line-height: 1rem;
		}
	}

	&-horizontal {
		flex-flow: row wrap;
	}
}

.lists {
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-flow: row nowrap;

	.list {
		box-shadow: none;
	}
}
